{% extends 'base.html' %}

{% block title %}
<title>Delete List</title> 
{% endblock title %}
	
	
{% block content %}		
<ul class="list-group mx-auto">
	<li class="list-group-item list-group-item-info">
		<p class="my-2 mx-auto">Are you sure you want to delete "{{item}}"?</p>
		<a href="{% url 'list' %}" class="btn btn-success form-control my-2">Cancel</a>

			<form method="POST" action="" class="form-group">
			{% csrf_token %}
			<input type="submit" name="Confirm" class="form-control" value="Delete">
			</form>
	</li>
</ul>	
{% endblock content %}
